class point {
  attribute int x;
  attribute int y;

  method void constructor(int x, int y) {
    this.x = x;
    this.y = y;
  }
  method int sum(int x) {
    return (x+this.x+this.y);
  }
}

class point3 extends point {
  attribute int z;

  method void constructor(int x, int y, int z) {
    super(x, y);
    this.z = z;
  }

  method int sum(int x) {
    return super.sum(x) + this.z;
  }
}

function int sum(point3 p) {
  int c = p.sum(48);
  return c;
}

function void main() {
  point3 p = new point3(1, 2, 3);
  putchar(sum(p));
}
