class point {
  attribute int x;
  attribute int y;
  method void constructor(int x, int y) {
    this.x = x;
    this.y = y;
  }
  method int sum(int x) {
    return (x+this.x+this.y);
  }
}

class point3 extends point {
  attribute int z;

  method void constructor(int x, int y, int z) {
    super(x, y);
    this.z = z;
  }

  method int sum(int x) {
    return super.sum(x) + this.z;
  }
}

class point4 extends point3 {
  attribute int w;

  method void constructor(int x, int y, int z, int w) {
    super(x, y, z);
    this.w = w;
  }

  method int sum(int x) {
    return super.sum(x) + this.w;
  }
}

function void main() {
  point4 p = new point4(1, 1, 1, 1);
  int c = p.sum(48);
  putchar(c);
}

// prints '3'

