function int for(bool x, bool y) {
  if (x || y) {
    return 1;
  } else {
    return 2;
  }
}

function int fand(bool x, bool y) {
  if (x && y) {
    return 1;
  } else {
    return 2;
  }
}

function int fnot(bool x, bool y) {
  if (!(x && y)) {
    return 1;
  } else {
    return 2;
  }
}

function int fand_or(bool x, bool y, bool z) {
  if (x && (y || z)) {
    return 1;
  } else {
    return 2;
  }
}

function void main() {
  bool x = false || true;
  if (x) {
    putchar('1');
  } else {
    putchar('0');
  }

  if (1 == 2 || 'a' == 'b') {
    putchar('1');
  } else {
    putchar('0');
  }

  if (1 >= 2 || 'a' <= 'b') {
    putchar('1');
  } else {
    putchar('0');
  }

  if (!(true && false)) {
    putchar('1');
  } else {
    putchar('0');
  }
}
