function int for(bool x, bool y) {
  if (x || y) {
    return 1;
  } else {
    return 2;
  }
}

function int fand(bool x, bool y) {
  if (x && y) {
    return 1;
  } else {
    return 2;
  }
}

function int fand_or(bool x, bool y, bool z) {
  if (x && (y || z)) {
    return 1;
  } else {
    return 2;
  }
}

function void main() {
}
